{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
<link href="{{ asset('css/estilsInici.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<h2 id="titolInici">Bienvenido a la pagina de hristiyan</h2>

<!-- Enlace a la página de detalles -->
<a href="/seccio/1">
    <img src="{{ asset('assets/img/bob.png') }}" class="imatgeInici">
</a>

<p id="paragrafInici">Parragraf pagina de inici<p>

{% endblock %}
